/* Глобальный сброс стилей*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --active-link-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirdery-text-color: #ffffff;
  --footer-b-color: #2f303a;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a {
  color: #212121;
}
a:active {
  color: var(--active-link-color);
}
a:hover {
  color: var(--active-link-color);
}
button:hover {
  background-color: #2196f3;
  color: var(--thirdery-text-color);
}
button:focus {
  background-color: #2196f3;
  color: var(--thirdery-text-color);
}
button:active {
  background-color: #2196f3;
  color: var(--thirdery-text-color);
}
a:focus {
  color: var(--active-link-color);
}

.header-line {
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}
/* Контейнер*/
.container {
  width: 1200px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 0px 15px;
}

/* Секции*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-pad-bot {
  padding-bottom: 94px;
}
/* Коробка хедера*/
.top-header {
  display: flex;
  justify-content: flex-start;
}

/* Коробка лого*/
.logo-box {
  margin: 25px 0px 24px 0px;
}
/* Коробка навигации*/
.nav-box {
  margin: 32px 0px 32px 93px;
}
.hr {
  display: inline;
}

.hr-mrg-l {
  margin-right: 50px;
}
/* Коробка почты и телефона*/
.tel-box {
  margin: 32px 0px 32px 321px;
  display: flex;
  justify-content: flex-start;
}
.style-color-web-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-link-color);
}
.studio-color {
  color: #000000;
}
.studio-color-footer {
  color: var(--thirdery-text-color);
}
.footer {
  background-color: var(--footer-b-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.text-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  display: inline-block;
}
.text-footer-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--thirdery-text-color);
}

.web-footer-position {
  margin-bottom: 20px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-color {
  color: var(--secondary-text-color);
}

.heat-bg {
  background-color: var(--footer-b-color);
}

.heat-position {
  padding: 200px 252px 200px 252px;
}

.heat-button-position {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.heat-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirdery-text-color);
}

.card-item {
  margin: none;
  padding: none;
  list-style: none;
  display: flex;
  margin-left: -30px;
}

.card-item > .item-position {
  flex-basis: 270px;
  margin-left: 30px;
}

.detail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.detail-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.w-w-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.w-w-doing-card {
  margin: none;
  padding: none;
  list-style: none;
  display: flex;
  margin-left: -30px;
}

.w-w-doing-card-item {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 30px;
}
.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.our-team-card {
  margin: none;
  padding: none;
  list-style: none;
  display: flex;
  margin-left: -30px;
}

.our-team-item {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}
.cursor {
  cursor: pointer;
}

.big-button {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--thirdery-text-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.portfolio-button-card {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.portfolio-button-item {
  margin-left: 8px;
}
.pad-button {
  padding: 6px 22px;
}

.portfolio-card {
  margin: none;
  padding: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-card > .portfolio-item {
  flex-basis: calc(100% / 9);
  margin-left: 30px;
  margin-top: 30px;
  outline: 1px solid #eeeeee;
}

.portfolio-text-title {
  padding: 20px 24px 20px 24px;
}
